body {
	height: 100%;
	width: 100%;
	font-size: 16px;
}
nav {
	margin-bottom: 0;
}
.center {
	margin-right: auto;
	margin-left: auto;
}

.green-header-bg {
	background: #00695C;
}

.orange-header-bg {
 background: #F57C00;
}

.landing-page-panel-text {
	font-weight: bold;
	text-transform: uppercase;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#hero-words{
	color: rgba(255, 255, 255, 0.8);
  font-size: 4em;
  text-align: center;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.card {
  max-height: 19em;
  min-height: 19em;
  background: #cecece;
  width: 100%;
  overflow: hidden;
}

.pagination-control {
	width: 100%;
}


ul {
	width: 100%;
}


.card-title {
  color: red;
}

/*.card-action {
  max-height: 2em;
}*/

.orange-text {
	color: #F57C00;
}

span {
  height: 4em;
  position: relative;
}

.container {
	width: 98%;
	margin-right: auto;
	margin-left: auto;
	max-width: 99.5%;
}

#hero-text {
	text-align: center;
  font-size: 2em;
  color: rgba(239, 108, 0, 0.9);
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#height-30 {
	height: 100%;
	width: 100%;
}

#main-page-bg {
	background: url("/images/main-page-bg.jpg");
	width: 100%;
	height: 24em;
	background-size: cover;
}

.pagination {
	width: 100%;
}

.ticker-wrap {
		display: none;
    width: 100%;
    overflow: hidden;
    height: 4rem;
    background-color: rgba(51, 51, 51, 0.5);
    padding-left: 100%; // offsets items to begin
}

.ticker {
    display: inline-block;
    height: 4rem;
    line-height: 4rem;
    white-space: nowrap;
    padding-right: 100%; // taken from container as display inline-block
}

.ticker__item {

    padding: 0 2rem;
    font-size: 2rem;
    color: white;
}

.ticker {
    animation-name: ticker;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 30s; // tweak based on number of items/desired speed
}

@keyframes ticker {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);

    }
    100% {
        -webkit-transform: translate3d(-100%, 0, 0);
                transform: translate3d(-100%, 0, 0);
    }
}