body {
	height: 100%;
	width: 100%;
	font-size: 16px;
	background: #FAFAFA;
}

nav {
	margin-bottom: 0;
}

.center {
	margin-right: auto;
	margin-left: auto;
}

.eight-hundred-bg {
	background: white;
}

.eight-hundred-text {
	color:#FF3D00;
}

.seven-hundred-bg {
	background: #FF3D00;
}

.seven-hundred-text {
	color: #FF3D00;
}

.primary-bg {
	background: #607D8B;
}

.accent-bg {
	background: #FF3D00;
}

.accent-text-color {
	color: #FF3D00;
}

#accent-color-header {
	color: #FF3D00;
}

.show-news {
	margin-left: auto;
	margin-right: auto;
}

.card {
  max-height: 19em;
  min-height: 19em;
  background: #cecece;
  width: 100%;
  overflow: hidden;
}

.pagination-control {
	width: 100%;
}

ul {
	width: 100%;
}

.card-title {
  color: #69F0AE;
}

span {
  height: 4em;
  position: relative;
}

.container {
	width: 98%;
	margin-right: auto;
	margin-left: auto;
	max-width: 99.5%;
}

.pagination {
	width: 100%;
}

#main-search {
  height: 100%;
}

/* Slide in Animation */

.section-1 .slide-in-demo {
    position: absolute;
    top: 15%;
    width: 100%;
    left: 0;
    text-align: center;
    font-size: 4em;
}

/* Ticker Animation */
.ticker-wrap {
		display: none;
    width: 100%;
    overflow: hidden;
    height: 4rem;
    background-color: white;
    padding-left: 100%; // offsets items to begin
}

.ticker {
    display: inline-block;
    height: 4rem;
    line-height: 4rem;
    white-space: nowrap;
    padding-right: 100%; // taken from container as display inline-block
}

.ticker__item {
  padding: 0 2rem;
  font-size: 2rem;
  color: #69F0AE;
}

.ticker {
    animation-name: ticker;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 35s; // tweak based on number of items/desired speed
}

@keyframes ticker {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);

    }
    100% {
        -webkit-transform: translate3d(-100%, 0, 0);
                transform: translate3d(-100%, 0, 0);
    }
}


/* angular ng enter leave animations */

.ng-enter  {
    -webkit-animation:1.5s anim_enter;
    -moz-animation:1.5s anim_enter;
    -o-animation:1.5s anim_enter;
    animation:1.5s anim_enter;
    position:relative;
}
@keyframes anim_enter {
    from { 
        left:100%;
    }
    to { 
        left:0;
    }
}

@-webkit-keyframes anim_enter {
    from {
        left:100%;
    }
    to { 
        left:0;
    }
}

.ng-leave{  
    -webkit-animation:1.5s anim_leave;
    -moz-animation:1.5s anim_leave;
    -o-animation:1.5s anim_leave;
    animation:1.5s anim_leave;
    position:relative;
}

@keyframes anim_leave {
    from { 
        left:0;
    }
    to {
        left:100%;
    }
}

@-webkit-keyframes anim_leave {
    from { 
        left:0;
    }
    to {
        left:100%;
    }
}