<div class="card-panel">
  <h2 class="accent-text center thin">Log In</h2>
</div>
<div class="formContainer">
	<div class="row card-panel main-panel">
    <form class="col s12" ng-submit="login(name, password)">
      <div class="row">
        <div class="input-field col s12">
          <input id="name" type="text" name="name" ng-model="name">
          <label for="name">First Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="password" type="password" name="password" ng-model="password">
          <label for="password">Password</label>
        </div>
      </div>
      <button type="submit" class="btn submit-b-tag">Login</button>
    </form>
  </div>
</div>