<nav class="orange-header-bg">
	<div class="nav-wrapper">
	  <form>
	    <div class="input-field">
	      <input id="search" type="search" required>
	      <label for="search"><i class="material-icons">search</i></label>
	      <i class="material-icons">close</i>
	    </div>
	  </form>
	</div>
</nav>

<div class="row" ng-controller="searchResultsCtrl">
	<div class="col s12" ng-repeat="source in news.items ">
		<div class="card-panel">
			<div class="card-panel">
				<h5 class="orange-text center">{{source[0].source}}</h5>
				<form class="orange lighten-3">
				  <div class="input-field">
				    <input id="search" type="search" required>
				    <label for="search"><i class="material-icons">search</i></label>
				    <i class="material-icons">close</i>
				  </div>
				</form>
			</div>
				<ul>
					<li dir-paginate="item in source | itemsPerPage: itemNumber"  current-page="currentPage" pagination-id="{{source[0].source}}">
					<div class="card">
	          <div class="card-content white-text">
	            <span class="card-title">{{item.title | capitalize}}...</span>
	            <p>{{item.summary}}...</p><p>{{item.created_at | amDateFormat:'dddd, MMMM Do YYYY, h:mm:ss a'}}</p>
	          </div>
	          <div class="card-action">
	            <a class="waves-effect waves-light btn modal-trigger" href="modal{{item.id}}">More</a>
	            <a href="{{item.link}}">{{item.source}}</a>
	          </div>
          </div>
	        </li>
	        <div class="row pagination-control">
		        <div ng-controller="OtherController" class="other-controller col s12">
	          <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="/services/dirPagination.tpl.html" pagination-id="source[0].source"></dir-pagination-controls>
	        </div>
        </div>
				</ul>
		</div>
	</div>
</div>

<script src="/js/styles.js"></script>